.lds-hourglass {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    color: white;
  }
  
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border: 6px solid transparent; /* Set border to transparent */
    border-top-color: rgb(73, 11, 85); /* Set top border to blue */
    animation: lds-hourglass 1.2s infinite;
  }
  
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  